.management-ticket-container {
  padding: 2.4rem;
  .management-ticket-header {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5.4rem;
    margin-bottom: 3.2rem;
  }
  .management-ticket-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.1rem;
    .search-box {
      width: 44.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ededed;
      border-radius: 0.8rem;
      padding: 1rem 1.6rem;
      .search-box-input {
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        font-style: italic;
      }
      svg {
        font-size: 2.4rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .filter-button {
      display: flex;
      color: var(--primary-color);
    }
    .btn-filter {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 1px solid var(--primary-color);
      border-radius: 0.8rem;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.6rem;
      &:hover {
        cursor: pointer;
        background-color: var(--primary-color);
        color: var(--white-color);
        transition: 0.5s;
      }
      p {
        margin-bottom: 0;
        margin-left: 0.2rem;
      }
      svg {
        font-size: 2.4rem;
      }
    }
    .btn-filter-csv {
      background-color: transparent;
      border: 1px solid var(--primary-color);
      border-radius: 0.8rem;
      margin-left: 1rem;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.6rem;
      &:hover {
        cursor: pointer;
        background-color: var(--primary-color);
        color: var(--white-color);
        transition: 0.5s;
      }
    }
  }
}

.ant-spin-container {
  .ticket-status {
    border: 0.2rem solid;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5rem;
  }
  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
  }
  .ant-table-thead > tr > th {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .ant-table-tbody > tr > td {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
.ant-picker {
  border-radius: 1rem;
  path {
    color: var(--primary-color);
  }
}
